# Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=hogandhivecrafts_db

# pgAdmin Configuration
PG_ADMIN_DEFAULT_EMAIL=admin@hogandhive.com
PG_ADMIN_DEFAULT_PASSWORD=changeme

# Spring Boot Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/hogandhivecrafts_db
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=changeme
CORS_FRONTEND_ORIGIN=http://localhost:5173